DATABASE_URL="..."

AUTH_SECRET="..."

AUTH_GOOGLE_ID="..."
AUTH_GOOGLE_SECRET="..."

STUDENT_URL="http://localhost:9000"
ADMIN_URL="http://localhost:9000"
ADMIN_DOMAIN="http://localhost:9001"

AUTH_TRUST_HOST=TRUE